*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: tomato;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    // justify-content:;
    // flex-start-> alinha todos os itens à esquerda
    // flex-end -> alinha todos os itens à direita
    // center -> alinha todos os itens no meio
    // space-evenly -> um espaçamento igual entre os itens
    // space-around -> um espaçamento igual nas bordas
    // space-between -> o espaçamento máximo entre os itens
    // around =  espaçamento em volta 
    // between = espaçamento entre 
    // evenly = espaçamento uniformemente

    // align-items:;
    // flex-start -> coloca todos os itens no topo da caixa
    // center -> coloca todos os itens no meio da caixa
    // flex-end -> coloca todos os itens no final da caixa
    align-items:center;
}
div{
    background-color: aquamarine;
    height: 14vh;
    width: 28vw;
}
.vermelho{
    background-color: red;
}
.roxo{
    background-color: purple;
}